.flex-total {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-img {
    margin: 55px;
  }
  
  .sub {
    margin-top: 35px;
    color: #484848;
    font-size: 18px;
    font-weight: 400;
  }
  
  
  .btn-azul {
    margin-top: 20px;
    background-color: #0c0cbb;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  
  .btn-branco {
    margin-top: 20px;
    background-color: #ffffff;
    height: 45px;
    border: 2px solid #0c0cbb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c0cbb;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

  }
  