<ion-content>
  <div class="container-header">
    <div class="flex">
      <div>
        <ion-icon [routerLink]="['/home']" class="back-chat" name="chevron-back-outline"></ion-icon>
      </div>
      <div>
        <img class="perfil" src="../../assets/perfil.jpg" alt="">
      </div>
      <div>
        <h1 class="title"> Bar do Paulista</h1>
      </div>
    </div>
  </div>
  <div class="container-content">
    <div class="msg-tocaki">
      <img src="../../assets/logo.png" alt="">
      <p class="txt">
        Parabéns, agora é com vocês!
        Negociem livremente sobre horários,
        valores, equipamentos de som, local...
        Anotem em suas agendas pessoais e
        tenham um bom show.
        Lembrem-se de clicar no botão
        “Tocaki” quando concluírem a
        negociação.
      </p>
    </div>

    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
    <div class="msg-left">
      mensagem
    </div>

    <div class="msg-right">
      mensagem
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="text-area flex-footer">
    <ion-textarea placeholder="Digite algo">

    </ion-textarea>
    
    <div class="flex-center">
      <ion-icon class="mic" name="mic-outline"></ion-icon>
      <ion-icon class="cam" name="camera-outline"></ion-icon>
      <div class="send">
        <ion-icon class="icon-send" name="send"></ion-icon>
      </div>
    </div>

  </div>
</ion-footer>