<ion-content>
  <div *ngIf="maisPreferencias" class="container-geral">
    <ion-icon [routerLink]="['/preferencias-musico']" class="back" name="chevron-back-outline"></ion-icon>
    <h1 class="title">
      Nos conte mais sobre você
    </h1>

    <div class="container-preferencias">
      <h2 class="sub">
        Escolha um ou mais estilos musicais
      </h2>
      <div class="container-scroll">
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            MPB
          </p>
        </div>
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            Rock 'n Roll'
          </p>
        </div>
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            Sertanejo
          </p>
        </div>
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            Pop Rock
          </p>
        </div>
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            Estilo Musical
          </p>
        </div>
        <div class="flex">
          <ion-checkbox mode="md"></ion-checkbox>
          <p class="dia">
            Estilo Musical
          </p>
        </div>
      </div>
    </div>

    <div class="cam">
      <p>
        Envie uma foto ou video
      </p>
      <ion-icon style="color: #0c0cbb; font-size:22px;" name="camera"></ion-icon>
    </div>

    <div class="textarea">
      <ion-textarea placeholder="Fale sobre você"></ion-textarea>
    </div>

    <div>
      <p class="label">
        Valor cobrado
      </p>
      <div class="flex-inputs">
        <div class="inputs-row">
          <ion-input placeholder="Min"></ion-input>
        </div>
        <div class="inputs-row">
          <ion-input placeholder="Max"></ion-input>
        </div>
      </div>

    </div>

    <div>
      <p class="label">
        Raio de distância que atende
      </p>
      <div class="input">
        <ion-input placeholder="Até 9km"></ion-input>
      </div>

    </div>

    <div (click)="showSucesso()" class="btn-azul">
      Próximo
    </div>

  </div>

  <div *ngIf="sucesso" class="total">
    <div class="container-geral">
      <img style="width: 80%; margin-left: 10%;" src="../../assets/sucesso.svg" alt="">
      <h1 class="text-imgs">
        Seu cadastro foi <br> realizado com sucesso!
      </h1>
    </div>
    <div [routerLink]="['/home']" class="cta-go">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>