<ion-content>
  <div class="container-perfil">
    <div class="flex-bet">
      <div class="flex">
        <ion-icon [routerLink]="['/home']" style="margin-top: 10px;" class="back" name="chevron-back-outline"></ion-icon>
        <h1 class="title-recarga">Perfil</h1>
      </div>
      <div class="back-edit">
        <ion-icon name="pencil-outline"></ion-icon>
      </div>
    </div>

    <div style="margin-top: 20px;" class="flex-bet">
      <div>
        <img class="img-perfil" src="../../assets/perfil.jpg" alt="">
      </div>
      <div>
        <h1 class="nome">
          Eduardo Silva
        </h1>
      </div>
    </div>

    <div>
      <p class="sub">
        Fotos
      </p>
      <div class="flex-images">
        <img class="imgs-carroussel" src="../../assets/perfil.jpg" alt="">
        <img class="imgs-carroussel" src="../../assets/perfil.jpg" alt="">
        <img class="imgs-carroussel" src="../../assets/perfil.jpg" alt="">
        <img class="imgs-carroussel" src="../../assets/perfil.jpg" alt="">
        <img class="imgs-carroussel" src="../../assets/perfil.jpg" alt="">

      </div>
    </div>

    <div style="margin-top:10px;" class="flex">
      <div class="plus">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div>
        <p class="add">
          Adicionar mais
        </p>
      </div>
    </div>

    <div style="margin-top: 40px;">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img class="icones" src="../../assets/left-align.png" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="infos"><strong>Preferências: </strong><span>Cantor de Sertanejo</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img class="icones" src="../../assets/left-align.png" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="infos"><strong>Descritivo: </strong><span>Já trabalhou como músico em bares conhecidos de
                Curitiba.</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img class="icones" src="../../assets/coin.png" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="infos"><strong>Valor hora padrão: </strong><span>R$50,00</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img class="icones" src="../../assets/star.png" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="infos">Contratado <span><strong>54</strong></span> e recomendado por
              <span><strong>50</strong></span> restaurantes
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>