<ion-content>
  <div class="container-geral">
    <h1 class="title">
      Preencha com seus horários de interesse
    </h1>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Segunda-feira
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Terça-feira
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Quarta-feira
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Quinta-feira
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Sexta-feira
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Sábado
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div class="-container-options">
      <div class="flex">
        <ion-checkbox mode="md"></ion-checkbox>
        <p class="dia">
          Domingo
        </p>
      </div>
      <div class="flex-around">
        <div class="option-select">
          Manhã
        </div>
        <div class="option">
          Tarde
        </div>
        <div class="option">
          Noite
        </div>
      </div>
    </div>

    <div [routerLink]="['/mais-preferencias-musico']" class="btn-azul">
      Próximo
    </div>
  </div>
</ion-content>