.btn-azul {
    margin-top: 40px;
    background-color: #0c0cbb;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

ion-input{
    margin-top: 15px;
    padding: 0 16px !important;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    color: #484848;
    font-size: 18px;
    font-weight: 400;
}

.aviso{
    margin-top: 15px;
    color: #F15929;
    font-size: 13px;
    font-weight: 400;
}
